{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'icons/css/all.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'css/menu.css'%}" />
    <link rel="stylesheet" href="{% static 'css/side-img.css'%}" />
    <link rel="stylesheet" href="{% static 'css/landing-page.css'%}" />
    <link rel="stylesheet" href="{% static 'css/about.css'%}" />
    <link rel="stylesheet" href="{% static 'css/testimonials.css'%}" />
    <link rel="stylesheet" href="{% static 'css/faq.css'%}" />
    <link rel="stylesheet" href="{% static 'css/testimonials2.css'%}" />
    <link rel="stylesheet" href="{% static 'css/contact.css'%}" />
    <link rel="stylesheet" href="{% static 'css/framework.css'%}" />
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
    <link rel="stylesheet" href="{% static 'css/signup.css'%}" />
    <link rel="stylesheet" href="{% static 'css/product.css'%}" />
    <link rel="stylesheet" href="{% static 'css/cart.css'%}" />
    {% block style %}

    {% endblock %}
    <title>  
      {% block title %}
      
      {% endblock %}
    </title>
  </head>
  <body>
    <div class="menu-overlay"></div>

    <ul class="menu-box">
      <li>
        <div class="menu-button">
          <span></span>
          <span></span>
        </div>
      </li>
      <li><a href="{% url 'login' %}">تسجيل دخول</a></li>
      <li data-section=".about">معلومات عن بعض منتجاتنا</li>
      <li data-section=".testimonials">قالو عنا</li>
      <li data-section=".faq">الأسئلة التي يسألها عملائنا</li>
      <li data-section=".contact">تواصل معنا</li>
    </ul>

    
    <nav>
        <!-- <div class="menu-button">
            <span></span>
            <span></span>
          </div> -->
        <div class="logo">
          <a href="/">
            Noda Healthy Products
          </a>
        </div>

        <ul>
          <li>
            <i class="fa fa-user"></i>
            <a href="/profile">Mohammed</a>
          </li>
          <li>
            <a href="/cart" class="cart-link"> 
              <i class="fa fa-shopping-bag"></i>
              <span class="cart-items-no">1</span>
            </a>
          </li>
        </ul>
    </nav>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <!-- Start Contact -->

    <div class="contact">
      <div class="container">
        <h2>تواصل معنا</h2>
        <p>تصفح صفحتنا علي الفيسبوك أو أنضم لجروب الواتس اب</p>
        <hr />
        <footer>
          <div class="logo">Noda Healthy Products</div>

          <ul>
            <li>
              <a
                target="_blank"
                href="https://www.facebook.com/groups/1544081465733863/"
              >
                <label>صفحة الفيس بوك</label>
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a>
                <label>الواتس اب 01068977219</label>
                <i class="fab fa-whatsapp"></i>
              </a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://chat.whatsapp.com/JFMbo2s9Hi63xrJxxHo6tD"
              >
                <label>مجموعة الواتس اب</label>
                <i class="fa fa-layer-group"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://t.me/+Q6Xk0FG2idg0NzZk">
                <label>مجموعة التليجرام</label>
                <i class="fab fa-telegram"></i>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </div>

    <!-- End Contact -->

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
