{% extends 'base.html' %}

{% load static %}

{% block title %}
    Noda Healthy Products
{% endblock %}

{% block content %}

    <!-- Start Landing Page  -->

    <div class="landing-page">
        {% for order in orders %}
        <div class="product">
            <div class="container">
                <div class="left">
                    <div class="product-info">
                        <h3>{{ order.product.name }}</h3>
                        <div>السعر الوحدة: {{ order.product.price }}</div>
                        <div>السعر: {{ order.price }}</div>
                        <div>
                            العدد: 
                            <form action="/changeCountInCart/{{ product.id }}" method="POST">
                                <input type="number" value="{{ order.count }}">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="product-img">
                        <img src="{{ order.product.image.url }}" alt="{{ order.product.name }}" />
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <div>المجموع الكلي: 1200 جنية</div>
        <a href="/purchase" class="add-to-cart">
            <i class="fa fa-shopping-bag"></i>
            <span>اتمام عملية الشراء</span>
        </a>
        <a href="/products" class="add-to-cart">
            <i class="fa fa-shopping-bag"></i>
            <span>متابعة التسوق</span>
        </a>
    </div>

    <!-- End Landing Page  -->
{% endblock %}
