{% extends 'base.html' %}

{% load static %}

{% block content %}

<nav>
    <div class="menu-button">
        <span></span>
        <span></span>
    </div>
    <div class="logo">Noda Healthy Products</div>
</nav>

<!-- Start Landing Page  -->

<div class="landing-page">
    <div class="side-img-container">
        <img src="{% static 'imgs/side-image1.jpg'%}" alt="" />
    </div>
    <div class="side-img-container">
        <img src="{% static 'imgs/side-image2-1.jpg'%}" alt="" />
    </div>
    <div class="introduction-text">
        <div class="container">
            <!-- <h1>A Compelling Value Proposition Here.</h1> -->
            <h1>نساعد كل انثي لتحقيق راحتها وإظهار جمالها</h1>
            <p>
                منتجات صديقة للبيئه ومنتجات صحية لتزيد جمالك وتزيد نظافة بيتك وجسمك
                وشعرك بدون ما تدمر صحتك
            </p>
        </div>
    </div>
</div>

<!-- End Landing Page  -->

<!-- Start About  -->

<div class="about">
    <div class="container">
        <h2>منتجاتنا</h2>

        <a href="products.html">
            <div class="about-box">
                <div class="about-img">
                    <img src="{% static 'imgs/about1.jpg'%}" alt="" />
                </div>
                <div class="about-text">
                    <h3>فوطة التراب</h3>
                    <p>
                    أحيانًا نحتاج إلى تنظيف المنزل ولا يوجد وقت لذلك، حينها تأتي ليفة الفايبر متعددة الاستخدامات لأداء المهمة بسرعة وكفاءة وإتقان؛ فهي مصممة للتعامل مع أي أوساخ بفعالية وأمان. فالنسيج الذي صنع منه الفايبر يتميز بقدرته العالية على الامتصاص
                </p>
                </div>
            </div>
        </a>

        <a href="products.html">
            <div class="about-box">
                <a href="product.html">
                    <div class="about-img">
                        <img src="{% static 'imgs/about2.jpg'%}" alt="" />
                    </div>
                </a>
                <div class="about-text">
                    <h3>قفاز الإستحمام</h3>
                    <p>
                        للقفاز جانبان: الجانب الخشن يقشر خلايا الجلد الميتة، أما الجانب الناعم فينظف البشرة. كما أنه مصنوع من نسج ألياف خاصة تساعد على التدليك الخفيف، وتنشيط الدورة الدموية، وتجديد خلايا الجلد.
                    </p>
                </div>
            </div>
        </a>

        
        <a href="products.html">
            <div class="about-box">
                <div class="about-img">
                    <img src="{% static 'imgs/about3.jpg'%}" alt="" />
                </div>
                <div class="about-text">
                    <h3>فوطة السيارة</h3>
                    <p>
                        نقدم لكم المنشفة المثالية لوضعها في صندوق تابلوه السيارة واستخدامها لتنظيف أي شيء في السيارة. ليس لديك وقت للذهاب إلى المغسلة؟ لا داعي للقلق من الأتربة والأوساخ والسوائل المسكوبة على أسطح السيارة، فالمنشفة ستؤدي المهمة في أقل وقت
                    </p>
                </div>
            </div>
        </a>

        <div class="clearfix"></div>
        
        <p class="more">
          <a href="#">مزيد من المنتجات...</a>
        </p>

    </div>
</div>

<!-- End About  -->

<!-- Start Testimonials -->

<div class="testimonials">
    <div class="container">
        <div class="t-content">
            <div class="t-box active">
                <div class="t-img">
                    <img src="{% static 'imgs/t1.jpg'%}" alt="" />
                </div>
                <div class="t-text">
                    <p>
                        "هنووووود حبيبتي، السلام عليكم ورحمة الله وبركاته. الفرشاة لسة
                        موصلتش؟ أنا بعاني والله بشدة بسبب شعر بنتي رهييييب بجد. استخدمت
                        الكورة رااائعة والله ربنا يكرمك حبيبتي &#128536; &#128536;"
                    </p>
                    <p>- عميل عن طريق تطبيق ماسنجر</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="t-box">
                <div class="t-img">
                    <img src="{% static 'imgs/t2.jpg'%}" alt="" />
                </div>
                <div class="t-text">
                    <p>
                        "سلام عليكم. ازيك حبيبتي عاملة ايه يا رب تكوني بخير. جزاكي الله
                        خيرا الحاجة جميلة والشامبو استعملته ريحته تحفة وملمسه جميل عيل
                        الشعر والمشط والفرشة جميلة جدا اول مرة اجيب حاجة خشب وتجلع جميلة
                        كدة تسلم ايديك حبيبتي "
                    </p>
                    <p>- عميل عن طريق الواتس اب</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="t-box">
                <div class="t-img">
                    <img src="{% static 'imgs/t3.jpg'%}" alt="" />
                </div>
                <div class="t-text">
                    <p>
                        "هنود حبيبتي السلام عليكم ورحمة الله وبركاته. رجعت من السفر
                        الحمد لله قلت انضف البيت بقة استخدمت المساحة التربو رهيييييتة
                        اللهم بارك بجد مش عارفة اشكرك ازاي كنت عمالة اديعيلك امبارح
                        رنبنا يكرمك والله"
                    </p>
                    <p>- عميل عن طريق طبيق ماسينجر</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="t-box">
                <div class="t-img">
                    <img src="{% static 'imgs/t4.jpg'%}" alt="" />
                </div>
                <div class="t-text">
                    <p>
                        "السلام عليكم يا هند عايزه فوطه لجنه احسن اكلت دماغي. كل ما
                        تشفني بعمل بيها تقولي الفوطه دي فيها حاجة غريبه ماليش دعوة عايزة
                        واحدة. ساعات بتحسبني حطه مكياج &#128514; &#128514; &#128514;
                        &#128514;"
                    </p>
                    <p>- عميل عن طريق الواتس اب</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="change-t-box">
                <span>
                    <i class="fa fa-arrow-left"></i>
                </span>
                <span>
                    <i class="fa fa-arrow-right"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- End Testimonials -->

<!-- Start FAQ -->

<div class="faq">
    <div class="container">
        <h2>الأسئلة التي يسألها عملائنا</h2>
        <ul class="tabs-list">
            <li data-answer=".ans1">لماذا نختار هذه المنتجات بالتحديد؟</li>
            <div class="answer ans1">
                <p>لأنها منتجات صحية ولكي نحافظ علي صحتنا وبيئتنا نظيفة.</p>
            </div>
            <li data-answer=".ans2">لماذا نختار هذا المنتج بالذات دون غيره؟</li>
            <div class="answer ans2">
                <p>لانه من مكان موثوف ومجرب من مدة كبيرة.</p>
            </div>
            <li data-answer=".ans3">
                هل المنتج غالي بالنسبة للمنتجات المماثله له؟
            </li>
            <div class="answer ans3">
                <p>يكاد يكون نفس السعر ولكن أعلي جودة</p>
            </div>
        </ul>
    </div>
</div>

<!-- End FAQ -->

<!-- Start Testimonials 2 -->

<div class="testimonials2">
    <div class="container">
        <div class="t-box">
            <div class="t-left">
                <img src="{% static 'imgs/t5.jpg'%}" alt="Image" />
            </div>
            <div class="t-right">
                <p>
                    أحد العملاء عن صابونة كاشمير: شهادة حق جربت صابونة كاشمير فعلا
                    حلوة قوي قشرت بشرتي زي الطمي والصابون المغربي باظبط بجد شكرا ليك
                    وجزاك الله خيرا حبيبتي
                </p>
                <div class="five-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- End Testimonials 2 -->
{% endblock %}