{% extends 'base.html' %}
{% load static %}



<!-- Start Landing Page  -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="landing-page">
    <div class="container">
        <div class="login-container">
            <div class="login">
                <h4>تسجيل الدخول</h4>
                <form action="/login/" method="POST">
                    {% csrf_token %}
                    <input name="mobile" type="text" placeholder="رقم الهاتف">
                    <input name="password" type="password" placeholder="كلمة السر">
                    <input type="submit" value="تسجيل الدخول">
                </form>
                <div class="links">
                    <a href="/signup">إنشاء حساب</a>
                    <a href="/forget">هل نسيت كلمة المرور؟</a>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="menu-button">
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <a href="/">
                Noda Healthy Products
            </a>
        </div>
    </nav>
</div>

<!-- End Landing Page  -->
{% endblock %}