{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
{% endblock %}

{% block content %}
<div class="login">
    <div class="container">
        <h4>تسجيل الدخول</h4>
        <br>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <input class="form-control" name="mobile" type="text" placeholder="رقم الهاتف" autofocus>
            <input class="form-control" name="password" type="password" placeholder="كلمة السر">
            <input class="btn btn-dark" type="submit" value="تسجيل الدخول">
            <div class="links">
                <a href="/registerPage">◀ إنشاء حساب</a>
                <a href="/forget">هل نسيت كلمة المرور؟</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}