{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noda Healthy Products - Product Name</title>
    <link rel="stylesheet" href="{% static 'icons/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/landing-page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/product.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>

<body>
    <div class="menu-overlay"></div>

    <ul class="menu-box">
        <li>
            <div class="menu-button">
                <span></span>
                <span></span>
            </div>
        </li>
        <li data-section=".about">تسجيل دخول</li>
        <li data-section=".about">معلومات عن بعض منتجاتنا</li>
        <li data-section=".testimonials">قالو عنا</li>
        <li data-section=".faq">الأسئلة التي يسألها عملائنا</li>
        <li data-section=".contact">تواصل معنا</li>
    </ul>

    <!-- Start Landing Page  -->

    <div class="landing-page">
        <div class="container">
            <div class="login-container">
                <div class="login">
                    <h4>تسجيل الدخول</h4>
                    <form action="/login/" method="POST">
                        {% csrf_token %}
                        <input name="mobile" type="text" placeholder="رقم الهاتف">
                        <input name="password" type="password" placeholder="كلمة السر">
                        <input type="submit" value="تسجيل الدخول">
                    </form>
                    <div class="links">
                        <a href="/signup">إنشاء حساب</a>
                        <a href="/forget">هل نسيت كلمة المرور؟</a>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="menu-button">
                <span></span>
                <span></span>
            </div>
            <div class="logo">
                <a href="/">
                    Noda Healthy Products
                </a>
            </div>
        </nav>
    </div>

    <!-- End Landing Page  -->

    <script src="js/app.js"></script>

</body>

</html>