{% extends 'base.html' %}

{% load static %}]

{% block style %}
  <link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block content %}
  <div class="orders">
    <div class="container">
      <h2>مشترياتي</h2>
      {% for order in all_orders %}
      <div class="card">
          <!-- <a href="/myOrders/{{ order.product.number }}"> -->
          <a href="/myOrders/1">
            <div class="row g-0">
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title">{{ order.product.name }}</h5>
                  <br>
                  <label for="">العدد</label>
                  <p class="card-text form-control">
                    {{ order.count }}
                  </p>
                  <br>
                  <label for="">السعر</label>
                  <p class="card-text form-control">{{ order.price }}</p>
                  <p>التاريخ :</p>
                </div>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded-start" src="{{ order.product.image.url }}" alt="'{{ order.product.name }}' un found img" width="100px">
              </div>
            </div>
          </a>
        </div>
        <br>
      {% endfor %}
    </div>
  </div>
{% endblock %}