<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noda Healthy Products - Product Name</title>
    <link rel="stylesheet" href="icons/css/all.min.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/menu.css" />
    <link rel="stylesheet" href="css/landing-page.css" />
    <link rel="stylesheet" href="css/product.css" />
</head>
<body>
    <div class="menu-overlay"></div>

    <ul class="menu-box">
      <li>
        <div class="menu-button">
          <span></span>
          <span></span>
        </div>
      </li>
      <li data-section=".about">تسجيل دخول</li>
      <li data-section=".about">معلومات عن بعض منتجاتنا</li>
      <li data-section=".testimonials">قالو عنا</li>
      <li data-section=".faq">الأسئلة التي يسألها عملائنا</li>
      <li data-section=".contact">تواصل معنا</li>
    </ul>

    <!-- Start Landing Page  -->

    <div class="landing-page">
        <div class="product">
            <div class="container">
                <div class="left">
                    <div class="product-info">
                        <h3>فوطة جرين واي</h3>
                        <p>
                            عارفين الفوطه الي بتبقي فإيدك طول منتي واقفه في المطبخ حاجه وقعت
                            فتمسحيها، عصير اتكب فتلميه، تلمعي بيها بيها روخامتك، بلمعي بيها
                        السراميك اللي ورا الحوض واللي فوق الرخامه.
                        </p>
                        <div>السعر: 99</div>
                        <br>
                        <a href="#cart-plus" class="add-to-cart">
                            <i class="fa fa-shopping-bag"></i>
                            <span>أضف إلي حقيبة التسوق</span>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="product-img">
                        <img src="imgs/about1.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="menu-button">
                <span></span>
                <span></span>
            </div>
            <div class="logo">Noda Healthy Products</div>
            <div class="contact-link">
                <div>تسجيل دخول</div>
                <div>تواصل معنا</div>
            </div>
        </nav>
    </div>
    
    <!-- End Landing Page  -->

</body>
</html>