{% extends 'base.html' %}

{% load static %}

{% block title %}
    Noda Healthy Products
{% endblock %}

{% block content %}
<div class="about">
    <div class="container">
        <h2>منتجاتنا</h2>
        {% for prod in products %}
        <a href="/product/{{ prod.id }}">
            <div class="about-box">
                <div class="about-img">
                    <img src="/media/{{ prod.image }}" alt="" />
                </div>
                <div class="about-text">
                    <h3>{{ prod.name }}</h3>
                    <p>{{ prod.description }}</p>
                </div>
            </div>
        </a>
        {% endfor %}

        <div class="clearfix"></div>
        
        <p class="more">
            <a href="/">الرجوع إلي الصفحة الرئيسية</a>
        </p>

    </div>
</div>
{% endblock %}