{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}" />
{% endblock %}

{% block title %}
    {{ user.first_name }}
{% endblock %}

{% block content %}

<div class="profile">

    <div class="container">

        <form method="POST" action="/changeProfile/">
            {% csrf_token %}

            <p>
                <label for="first_name" class="form-label">
                    الاسم الاول
                </label>
                <input class="form-control" id="first_name" name="first_name" {% if noedit %} disabled {% endif %} type="text" value="{{ user.first_name }}">
            </p>
            
            <p>
                <label for="last_name" class="form-label">
                    الاسم الاخير
                </label>
                <input class="form-control" id="last_name" name="last_name" {% if noedit %} disabled {% endif %} type="text" value="{{ user.last_name}}">
            </p>
            
            <p>
                <label for="phone_no" class="form-label">
                    رقم الهاتف
                </label>
                <input class="form-control" id="phone_no" name="mobile" {% if noedit %} disabled {% endif %} type="text" value="{{ user.mobile }}">
            </p>
            
            <p>
                <label for="city" class="form-label">
                    محافظة
                </label>
                <select class="form-select" id="city" name="city" {% if noedit %} disabled {% endif %} id="country" name="country">
                    {% if noedit %}
                        <option selected value="{{ city.id }}">{{city.name}}</option>
                    {% endif %}
                    
                    {% for city in cities %}
                        <option {% if user.city == city.name %} selected {% endif %} value="{{ city.id }}">{{city.name}}</option>
                    {% endfor %}
                </select>
            </p>
            
            <p>
                <label for="address" class="form-label">
                    العنوان بالتفصيل
                </label>
                <input class="form-control" id="address" name="address" {% if noedit %} disabled {% endif %} type="text" value="{{ user.address }}">
            </p>
            {% if not noedit %}
                <input class="btn btn-dark" type="submit" value="اتمام">
            {% endif %}
            {% if noedit %}
                <a class="btn btn-dark" href="{% url 'editProfile' %}">
                    تعديل
                </a>
            {% endif %}
            <br>
            <br>
            <a class="btn btn-danger" id="logoutBtn" href="#">تسجيل خروج</a>

        </form>

        <div class="overlay"></div>
        <div class="confirm-logout">
            <h5>هل أنت متأكد من أنك تريد تسجيل الخروج؟</h5>
            <br>
            <a class="btn btn-primary" id="cancelLogout" href="#">إلغاء</a>
            <a class="btn btn-danger" href="/logout">تسجيل الخروج</a>
        </div>

    </div>

</div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}