{% extends 'base.html' %}
{% load static %}



<!-- Start Landing Page  -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<div class="landing-page">
    <div class="container">
        <div class="signup-container">
            <div class="signup">
                <h4>إنشاء حساب</h4>
                <input name="" type="text" placeholder="الإسم الأول">
                <input type="text" placeholder="إسم العائلة">
                <select id="country" name="country">
                    <option selected="selected">القاهرة</option>
                    <option>الغربية</option>
                    <option>الإسكندرية</option>
                    <option>الإسماعيلية</option>
                    <option>كفر الشيخ</option>
                    <option>أسوان</option>
                    <option>أسيوط</option>
                    <option>الأقصر</option>
                    <option>الوادي الجديد</option>
                    <option>شمال سيناء</option>
                    <option>البحيرة</option>
                    <option>بني سويف</option>
                    <option>بورسعيد</option>
                    <option>البحر الأحمر</option>
                    <option>الجيزة</option>
                    <option>الدقهلية</option>
                    <option>جنوب سيناء</option>
                    <option>دمياط</option>
                    <option>سوهاج</option>
                    <option>السويس</option>
                    <option>الشرقية</option>
                    <option>الغربية</option>
                    <option>الفيوم</option>
                    <option>القليوبية</option>
                    <option>قنا</option>
                    <option>مطروح</option>
                    <option>المنوفية</option>
                    <option>المنيا</option>
                </select>
                <input type="text" placeholder="العنوان بالتفصيل">
                <input type="text" placeholder="رقم الهاتف">
                <input type="text" placeholder="رقم آخر (اختياري)">
                <input type="password" placeholder="إنشاء كلمة السر">
                <input type="password" placeholder="أعد كتابة كلمة السر">
                <input type="submit" value="إنشاء حساب">
                <div class="links">
                    <label for="">هل لديك حساب بالفعل؟</label>
                    <a href="/login">تسجيل الدخول ◀</a>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="menu-button">
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <a href="/">
                Noda Healthy Products
            </a>
        </div>
    </nav>
</div>
<!-- End Landing Page  -->
{% endblock %}