.landing-page {
    background: var(--color1);
    height: 100vh;
    position: relative;
}

/* Start Nav Bar  */

.landing-page nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 30px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1000;
    direction: rtl;
}

.landing-page nav .logo {
    font-family: var(--header-font);
    font-size: 25px;
}

.landing-page nav .logo a {
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.landing-page nav .logo a:hover {
    color: #4e4e4e;
}

@media (max-width: 567px) {
    .landing-page nav .logo {
        font-size: 20px;
    }
}

.landing-page nav .contact-link {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.landing-page nav .contact-link div {
        cursor: pointer;
}

/* End Nav Bar  */

.landing-page .introduction-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-page .introduction-text h1 {
    font-size: 65px;
    font-family: var(--header-font);
}

.landing-page .introduction-text .container {
    width: 500px;
}

@media (max-width: 1200px) {
    .landing-page .introduction-text .container {
        width: 400px;
    }
    .landing-page .introduction-text h1 {
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    .landing-page .introduction-text .container {
        width: 300px;
    }

    .landing-page .introduction-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    .landing-page .introduction-text .container {
        width: 200px;
    }
    .landing-page .introduction-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 567px) {
    .landing-page .introduction-text .container {
        width: 200px;
    }
    .landing-page .introduction-text h1 {
        font-size: 35px;
    }
}

.landing-page .introduction-text p {
    color: #666;
    line-height: 1.7;
}

/* Things That will Disappear */
@media (max-width: 767px) {
    /* Nav Bar  */
    .landing-page nav .contact-link {
        display: none;
    }
}