nav.bg-body-tertiary {
    direction: rtl;
    background-color: transparent !important;
    position: fixed;
    width: 100%;
}

nav ul li span {
    direction: ltr;
    color: #fff;
    background: red;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 7px;
    left: 10px;
}

nav a.navbar-brand {
    font-family: var(--header-font);
    font-size: 25px;
    color: #000;
}

@media (max-width: 567px) {
    nav a.navbar-brand {
        font-size: 20px;
    }
}

/* nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 30px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1000;
}

nav .right {
    display: flex;
    align-items: center;
    min-width: 30%;
}

nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0;
}

nav ul li {}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav ul li:last-of-type a {
    padding: 0 0 0 30px;
}

nav ul li .fa:before {
    font-size: 20px;
}
*/