.orders {
    background: #eee;
    padding-top: 80px;
    direction: rtl;
}

.card {
    max-width: 540px;
}

.card img {
    width: 100%;
}
    
.card .row .col-8,
.card .row .col-4 {
    display: flex;
    align-items: center;
}

.card .card-text.form-control {
    width: fit-content;
    display: inline-block;
}