.product {
    padding-top: 80px;
    direction: rtl;
    height: 100%;
}
.product .left {
    float: left;
    width: 49%;
    height: 100%;
    padding-right: 2%;
}
.product .right {
    float: right;
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
}

.product .right .product-img {
    
}

.product .right .product-img img {
    width: 100%;
    border-radius: 10px;
}

.product .left .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.product .left .product-info p {
    color: #5f5f5f
}

.product .left .product-info a {
    color: #fff;
    width: fit-content;
    text-decoration: none;
    background: #a6a6a6;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.product .left .product-info a:hover {
    background: #bababa;
}