.register {
    padding: 120px 0 80px;
    background: var(--color1);
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 300px;
    direction: rtl;
}

form input,
form select {
    margin-bottom: 20px;
}

form a {
    color: #707070;
    text-decoration: none;
    font-size: 15px;
    display: block;
    line-height: 30px;
    transition: all 0.2s ease-in-out;
}

form a:hover {
    text-decoration: underline;
}

form select {
    border-radius: 7px;
}