.signup-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container .signup {
    height: 590px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    direction: rtl;
}

.signup-container .signup input {
    display: block;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

.signup-container .signup input[type=submit] {
    color: #fff;
    background: #9a9a9a;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.signup-container .signup input[type=submit]:hover {
    background: #a7a7a7;
}

.signup-container .signup a {
    color: #707070;
    text-decoration: none;
    font-size: 15px;
    display: block;
    line-height: 30px;
    transition: all 0.2s ease-in-out;
}

.signup-container .signup a:hover {
    text-decoration: underline;
}

.signup-container .signup select {
    border-radius: 7px;
}